.footer {
  min-height: 100px;
  /* background: #E5E5E5; */
  position: relative;
  border-top: 2px solid rgb(72, 72, 72);
  border-bottom: 2px solid rgb(40, 40, 40);
  text-align: center
}

.score {
  /* position: absolute; */
  bottom: 1;
  left: 0;
  right: 0;
  padding: 0px;
  /* background: #E5E5E5; */
  font-size: 2em;
}
.message {
  /* position: absolute; */
  /* bottom: 1; */
  /* left:34%; */
  /* right: 0; */
  padding-top: 20px;

  /* background: #E5E5E5; */
  font-size: 1em;
  font-style: italic;
}
