.App {
    text-align: center;
    height: 225px;
  }
  
  .App-logo {
    
    height: 100px;
  }
  
  .App-header {
    background-color: #222;
    height: 175px;
    padding: 10px; 
    color: white;
  }
  
  .App-title {
    font-size: 2em;
  }
  
  .App-intro {
    font-size: large;
    padding-top: 10px;
    background: white;
  }
  